:root {
    --accent-color:#FED136;
    --main-color:#777
    --add-color:#222
    --add-white:#fff
}
h2,h3 {
    color: var(--accent-color);
}
/* /* h2 {
    color: red;
} */

/* * {
    color: green;
}  
a {
    text-decoration: none;
} 
.list {
    list-style: none;
    font-size: 20px;
}
.list-header {
    color: green;
}
/* #hero {
    color: gray;
} 

a[href*="google"] {
    color: orange;
}
h2,h3,ul {
    margin: 0;
}
header li {
    color: yellow;
}
section p {
    font-size: 15px;
}
nav + a {
    background-color: yellow;
}
.hero ~ p {
    background-color: grey;
} */
h2, h3 {
    color: tomato;
}
.nav {
    color: rgb(186,228,103,);
}
header{
    background-color: rgba(140,189,44,0.2);
}
.list-hero > li{
     color: #82BF09;
}
